html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

.top-bar {
  top: 0px;
  z-index: 30;
  display: flex;
  height: 5rem;
  width: 100%;
  align-items: center;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  background-color: rgb(var(--color-foreground) / var(--tw-bg-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  --tw-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.16);
  --tw-shadow-colored: 1px 1px 5px 0 var(--tw-shadow-color);
  box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
